<div
  class="fixed inset-0 z-50 flex items-center justify-center p-4 py-5 sm:p-0"
>
  <div
    class="mx-auto w-full overflow-hidden cursor-default rounded-lg bg-white dark:bg-slate-800 shadow-xl lg:w-1/2 2xl:w-2/5"
  >
    <div class="relative p-6">
      <button
        (click)="close()"
        type="button"
        class="absolute top-4 right-4 dark:text-slate-100 rounded-lg p-1 text-center font-medium text-secondary-500 transition-all hover:bg-secondary-100"
      >
        <i class="fa-regular fa-circle-xmark text-xl"></i>
      </button>
      <h3
        class="text-lg font-medium text-center text-secondary-900 dark:text-slate-300"
      >
        Add taskForm list
      </h3>
      <div class="mt-2">
        <form
          class="w-full flex flex-col gap-3 items-center py-5"
          [formGroup]="taskForm"
        >
          <div
            class="w-11/12 flex justify-center gap-2 max-md:w-full max-md:flex-col"
          >
            <div class="w-full">
              <label
                for="title"
                class="mb-1 dark:text-slate-300 block text-base font-medium text-gray-700 after:ml-0.5 after:text-red-500 after:content-['*']"
                >Title</label
              >
              <input
                type="text"
                id="title"
                class="block w-full rounded-md border py-1.5 px-2 border-gray-300 shadow-sm focus:border-2 focus:border-yellow-500 focus:outline-none focus:ring-gray-200 focus:ring-opacity-50 read-only:cursor-not-allowed read-only:bg-gray-50 read-only:text-gray-500"
                placeholder="taskForm title"
                formControlName="title"
              />
              <p
                class="mt-1 text-xs text-red-500"
                *ngIf="
                  taskForm.get('title')?.invalid &&
                  (taskForm.get('title')?.dirty ||
                    taskForm.get('title')?.touched)
                "
              >
                {{ getErrorMessage("title") }}
              </p>
            </div>
          </div>
          <div
            class="w-11/12 flex justify-center gap-2 max-md:w-full max-md:flex-col"
          >
            <div class="mx-auto w-full">
              <div>
                <label
                  class="mb-1 dark:text-slate-300 block text-base font-medium text-gray-700 after:ml-0.5 after:text-red-500 "
                  >Friends</label
                >
                <div
                  class="flex w-full h-14 items-center rounded-md border py-1.5 px-2 border-gray-300 dark:bg-gray-200 shadow-sm focus:border-2 focus:border-yellow-500 focus:outline-none focus:ring-gray-200 focus:ring-opacity-50 disabled:cursor-not-allowed disabled:bg-gray-50 disabled:text-gray-500"
                >
                  <dd class="flex justify-start -space-x-1.5">
                    <a
                      *ngFor="let item of selectedUsers"
                      class="inline-block group relative top-0 -m-1 cursor-pointer"
                    >
                      <img
                        class="w-10 h-10 rounded-full ring-2 ring-white group-hover:ring-yellow-400 dark:border-slate-200 dark:ring-slate-200"
                        [src]="item.avatar"
                        [alt]="item.name"
                      />
                    </a>
                  </dd>
                </div>
                <p class="mt-1 text-xs text-red-500">
                  {{ getErrorMessage("") }}
                </p>
              </div>
            </div>
          </div>
          <div
            class="w-11/12 flex justify-center gap-2 max-md:w-full max-md:flex-col"
          >
            <div class="mx-auto w-1/2 max-md:w-full">
              <div>
                <label
                  for="team"
                  class="mb-1 dark:text-slate-300 block text-base font-medium text-gray-700 after:ml-0.5 after:text-red-500 after:content-['*']"
                  >team</label
                >
                <ng-select
                  id="add-friends"
                  [items]="friends()"
                  class="w-full rounded-md shadow-sm focus:border-2 focus:border-yellow-500 focus:outline-none focus:ring-gray-200 focus:ring-opacity-50"
                  [multiple]="true"
                  bindLabel="name"
                  formControlName="team"
                  placeholder="Select friends"
                  (change)="addFriends($event)"
                >
                </ng-select>
                <p
                  class="mt-1 text-xs text-red-500"
                  *ngIf="
                    taskForm.get('team')?.invalid &&
                    (taskForm.get('team')?.dirty ||
                      taskForm.get('team')?.touched)
                  "
                >
                  {{ getErrorMessage("team") }}
                </p>
              </div>
            </div>
            <div class="mx-auto w-1/2 max-md:w-full">
              <div>
                <label
                  for="date"
                  class="mb-1 dark:text-slate-300 block text-base font-medium text-gray-700 after:ml-0.5 after:text-red-500 after:content-['*']"
                  >Date create</label
                >
                <input
                  type="date"
                  id="date"
                  class="block w-full rounded-md border py-1.5 px-2 border-gray-300 shadow-sm focus:border-2 focus:border-yellow-500 focus:outline-none focus:ring-gray-200 focus:ring-opacity-50 read-only:cursor-not-allowed read-only:bg-gray-50 read-only:text-gray-500"
                  formControlName="date"
                />

                <p
                  class="mt-1 text-xs text-red-500"
                  *ngIf="
                    taskForm.get('date')?.invalid &&
                    (taskForm.get('date')?.dirty ||
                      taskForm.get('date')?.touched)
                  "
                >
                  {{ getErrorMessage("date") }}
                </p>
              </div>
            </div>
          </div>
          <div
            class="w-11/12 flex justify-center gap-2 max-md:w-full max-md:flex-col"
          >
            <div class="mx-auto w-1/2 max-md:w-full">
              <div>
                <label
                  for="level"
                  class="mb-1 dark:text-slate-300 block text-base font-medium text-gray-700 after:ml-0.5 after:text-red-500 after:content-['*']"
                  >Level</label
                >
                <ng-select
                  id="level"
                  bindLabel="level"
                  class="w-full rounded-md border border-gray-300 shadow-sm focus:border-2 focus:border-yellow-500 focus:outline-none focus:ring-gray-200 focus:ring-opacity-50"
                  formControlName="level"
                  placeholder="Select level"
                >
                  <ng-option *ngFor="let nivel of nivels" [value]="nivel">
                    {{ nivel | titlecase }}
                  </ng-option>
                </ng-select>
                <p
                  class="mt-1 text-xs text-red-500"
                  *ngIf="
                    taskForm.get('level')?.invalid &&
                    (taskForm.get('level')?.dirty ||
                      taskForm.get('level')?.touched)
                  "
                >
                  {{ getErrorMessage("level") }}
                </p>
              </div>
            </div>
            <div class="mx-auto w-1/2 max-md:w-full">
              <div>
                <label
                  for="hour"
                  class="mb-1 dark:text-slate-300 block text-base font-medium text-gray-700 after:ml-0.5 after:text-red-500 after:content-['*']"
                  >Hour</label
                >
                <input
                  type="time"
                  id="hour"
                  class="block w-full rounded-md border py-1.5 px-2 border-gray-300 shadow-sm focus:border-2 focus:border-yellow-500 focus:outline-none focus:ring-gray-200 focus:ring-opacity-50 read-only:cursor-not-allowed read-only:bg-gray-50 read-only:text-gray-500"
                  placeholder="taskForm hour"
                  formControlName="hour"
                />
                <p
                  class="mt-1 text-xs text-red-500"
                  *ngIf="
                    taskForm.get('hour')?.invalid &&
                    (taskForm.get('hour')?.dirty ||
                      taskForm.get('hour')?.touched)
                  "
                >
                  {{ getErrorMessage("hour") }}
                </p>
              </div>
            </div>
          </div>

          <div
            class="w-11/12 flex justify-center gap-2 max-md:w-full max-md:flex-col"
          >
            <div class="mx-auto w-full">
              <div>
                <label
                  for="description"
                  class="mb-1 dark:text-slate-300 block text-base font-medium text-gray-700 after:ml-0.5 after:text-red-500 after:content-['*']"
                  >Description</label
                >
                <textarea
                  type="text"
                  id="description"
                  class="block w-full rounded-md border py-1.5 px-2 border-gray-300 shadow-sm focus:border-2 focus:border-yellow-500 focus:outline-none focus:ring-gray-200 focus:ring-opacity-50 read-only:cursor-not-allowed read-only:bg-gray-50 read-only:text-gray-500"
                  placeholder="description"
                  formControlName="description"
                >
                </textarea>
                <p
                  class="mt-1 text-xs text-red-500"
                  *ngIf="
                    taskForm.get('description')?.invalid &&
                    (taskForm.get('description')?.dirty ||
                      taskForm.get('description')?.touched)
                  "
                >
                  {{ getErrorMessage("description") }}
                </p>
              </div>
            </div>
          </div>
          <div
            class="w-11/12 flex justify-center gap-2 max-md:w-full max-md:flex-col"
          >
            <div class="mx-auto w-full flex gap-3 justify-end">
              <button
                type="button"
                (click)="close()"
                class="rounded-lg border border-gray-300 bg-white px-4 py-2 text-center text-sm font-medium text-gray-700 shadow-sm transition-all hover:bg-gray-100 focus:ring focus:ring-gray-100 disabled:cursor-not-allowed disabled:border-gray-100 disabled:bg-gray-50 disabled:text-gray-400"
              >
                Cancel
              </button>
              <button
                (click)="save()"
                [disabled]="taskForm.invalid"
                type="button"
                class="rounded-lg border border-yellow-50 bg-black px-5 py-2 text-center text-sm font-medium text-white shadow-sm transition-all hover:opacity-80 focus:ring disabled:cursor-not-allowed focus:ring-neutral-800 disabled:border-black disabled:opacity-60"
              >
                save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
