<div class="fixed inset-0 z-50 top-4 flex items-center justify-center p-4 sm:p-0">
    <div
      class="mx-auto w-full overflow-hidden rounded-lg bg-white dark:bg-slate-800 shadow-xl sm:max-w-sm"
    >
      <div class="relative p-5">
        <div class="text-center">
          <div
            class="mx-auto mb-5 flex h-10 w-10 items-center justify-center rounded-full bg-yellow-100 text-yellow-500"
          >
            <i class="fa-solid fa-save"></i>
          </div>
          <div>
            <h3 class="text-lg font-medium text-secondary-900">
              Unsaved changes
            </h3>
            <div class="mt-2 text-sm text-secondary-500">
              Do you want to save or discard changes? This action cannot be
              undone.
            </div>
          </div>
        </div>
        <div class="mt-5 flex justify-end gap-3">
          <button
            type="button"
            class="flex-1 rounded-lg border border-gray-300 bg-white px-4 py-2 text-center text-sm font-medium text-gray-700 shadow-sm transition-all hover:bg-gray-100 focus:ring focus:ring-gray-100 disabled:cursor-not-allowed disabled:border-gray-100 disabled:bg-gray-50 disabled:text-gray-400"
          >
            Cancel
          </button>
          <button
            type="button"
            class="flex-1 rounded-lg border border-orange-500 bg-orange-500 px-4 py-2 text-center text-sm font-medium text-white shadow-sm transition-all hover:border-orange-700 hover:bg-orange-700 focus:ring focus:ring-orange-200 disabled:cursor-not-allowed disabled:border-orange-300 disabled:bg-orange-300"
          >
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
  